
.table{
    width: 130vh;
    height: 99.97vh;
    /* background-color: #9AECDB; */
}

.table-center{
    width: 90vh;
    height: 69vh;
    top: 15.38vh;
    left: 20vh;
    background-color: #a55eea;
}

.right-table{
    width: 100%;
    height: 100vh;
}

.row1{
    width: 100%;
    height: 15.38vh;
}

.background-color {
    background-color: #9AECDB;
}

.square{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #78e08f;
    cursor:pointer;
}

.community-space{
    background-color: yellowgreen !important;
}

.corner-square{
    width: 20vh;
    height: 15.38vh;
}

.stand-square{
    width: 10vh;
    height: 15.38vh;
}

.lie-square{
    height: 7.69vh;
    width: 20vh;
}

.green-player{
    background-color: greenyellow !important;
}

.yellow-player{
    background-color: yellow !important;
}

.red-player{
    background-color: red !important;
}

.pink-player{
    background-color: pink !important;
}

.blue-player{
    background-color: #0652DD;
}

.player{
    width:15px;
    height:15px;
    border-radius:15px;
}

.small-text{
    font-size: 10px;
    line-height: 12px;
}

.jail{
    z-index: 100;
    left: 0px;
    bottom: 0px;
    background-image: url("/images/jail.png");
    background-size: contain;
}

.visitor {
    right: 0px;
    bottom: 0px;
}

.community-chest{
    background-image: url("/images/chest.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.opportunity{
    background-image: url("/images/question-mark.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-violet{
    background-color: #a55eea !important;
}

.bg-dark-blue {
    background-color: #0c2461 !important;
}
